* {
    font-family: 'Lucida Grande', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
	text-align: center;
    margin: 0px;
	padding-top: 45px;
	color: #666666;
	font-size: 48px;
}

h2{
	color: #f07c17;
	font-size: 24px;
    font-weight: bold;
}

.ptitle{
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 35px;
}

p{
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.listhead{
    padding-left: 30px;
    padding-top: 10px;
}

.list{
	padding-top: 25px;
	color: #666666;
    padding-bottom: 15px;
    padding-left: 70px;
    font-weight: bold;
}

.row {
    max-width: 1024px;
}

.feature-border {
    border: 1px solid #cccccc !important;
    margin-top: 30px;
    width: 375px;
    
}

.img {
	width: 400px;
	height: 375px;
    margin-top: 30px;
}